<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="on" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <!-- log 儲存目標 -->
  <targets>
    <target xsi:type="File" name="Hangfire-Log" fileName=".\logs\HF-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <!-- 儲存目標類型為 "檔案"  -->
    <target xsi:type="File" name="allfile" fileName=".\logs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <!-- 儲存目標類型為 "檔案", only own logs.並使用部份 ASP.NET core renderers 的內容 -->
    <target xsi:type="File" name="systemlogfile" fileName=".\logs\nlog-system-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target name="SQLLog" xsi:type="Database">
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[LOG_SQL]
        ([Application]
        ,[Logged]
        ,[LogLevel]
        ,[RemoteIP]
        ,[Token]
        ,[UserID]
        ,[DeviceID]
        ,[Url]
        ,[Action]
        ,[Message]
        ,[Logger]
        ,[Callsite]
        ,[Exception]
        )
        VALUES
        ('HRCM'
        ,@time_stamp
        ,@level
        ,@remoteIP
        ,null
        ,@user_name
        ,null
        ,@call_site
        ,null
        ,@message
        ,@logger
        ,@call_site
        ,@log_exception
        )
      </commandText>
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${gdc:item=UserID}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@remoteIP" layout="${gdc:item=IpAddress}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>

    </target>

    <target name="SystemLog" xsi:type="Database">
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[LOG_SYSTEM]
        ([Application]
        ,[Logged]
        ,[LogLevel]
        ,[RemoteIP]
        ,[Token]
        ,[UserID]
        ,[DeviceID]
        ,[Url]
        ,[Action]
        ,[Message]
        ,[Logger]
        ,[Callsite]
        ,[Exception]
        ,[machineName]
        ,[environment]
        ,[threadId]
        ,[variables]
        ,[systemUser]
        ,[currentUser])
        VALUES
        ('HRCM'
        ,@time_stamp
        ,@level
        ,@remoteIP
        ,null
        ,@user_name
        ,null
        ,@call_site
        ,null
        ,@message
        ,@logger
        ,@call_site
        ,@log_exception
        ,@machinename
        ,null
        ,@threadid
        ,null
        ,null
        ,null)
      </commandText>
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${gdc:item=UserID}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@remoteIP" layout="${gdc:item=IpAddress}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>

    </target>

    <target name="APILog" xsi:type="Database">
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[LOG_API]
        ([Application]
        ,[Logged]
        ,[LogLevel]
        ,[RemoteIP]
        ,[Token]
        ,[UserID]
        ,[DeviceID]
        ,[Url]
        ,[Action]
        ,[Message]
        ,[Logger]
        ,[Callsite]
        ,[Exception]
        )
        VALUES
        ('HRCM'
        ,@time_stamp
        ,@level
        ,@remoteIP
        ,null
        ,@user_name
        ,null
        ,@call_site
        ,null
        ,@message
        ,@logger
        ,@call_site
        ,@log_exception
        )
      </commandText>
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${gdc:item=UserID}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@remoteIP" layout="${gdc:item=IpAddress}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>

    </target>

    <target name="HangFireLog" xsi:type="Database">
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[LOG_HANGFIRE]
        ([Application]
        ,[Logged]
        ,[LogLevel]
        ,[RemoteIP]
        ,[Token]
        ,[UserID]
        ,[DeviceID]
        ,[Url]
        ,[Action]
        ,[Message]
        ,[Logger]
        ,[Callsite]
        ,[Exception]
        ,[machineName]
        ,[environment]
        ,[threadId]
        ,[variables]
        ,[systemUser]
        ,[currentUser])
        VALUES
        ('HRCM'
        ,@time_stamp
        ,@level
        ,@remoteIP
        ,null
        ,@user_name
        ,null
        ,@call_site
        ,null
        ,@message
        ,@logger
        ,@call_site
        ,@log_exception
        ,@machinename
        ,null
        ,@threadid
        ,null
        ,null
        ,null)
      </commandText>
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout=""/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@remoteIP" layout="${gdc:item=IpAddress}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>

    </target>

    <target name="WarningLog" xsi:type="Database">
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[LOG_WARNING]
        ([Application]
        ,[Logged]
        ,[LogLevel]
        ,[RemoteIP]
        ,[Token]
        ,[UserID]
        ,[DeviceID]
        ,[Url]
        ,[Action]
        ,[Message]
        ,[Logger]
        ,[Callsite]
        ,[Exception]
        ,[machineName]
        ,[environment]
        ,[threadId]
        ,[variables]
        ,[systemUser]
        ,[currentUser])
        VALUES
        ('HRCM'
        ,@time_stamp
        ,@level
        ,@remoteIP
        ,null
        ,@user_name
        ,null
        ,@call_site
        ,null
        ,@message
        ,@logger
        ,@call_site
        ,@log_exception
        ,@machinename
        ,null
        ,@threadid
        ,null
        ,null
        ,null)
      </commandText>
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${gdc:item=UserID}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@remoteIP" layout="${gdc:item=IpAddress}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>

    </target>
  </targets>
  <!-- 設定 logger 名稱與 log 儲存目標的對應 -->
  <rules>
    <!-- 所有 log -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Warn" writeTo="WarningLog" />
    <logger name="Hangfire.*" minlevel="Trace" writeTo="HangFireLog" />
    <logger name="WebApi.*" minlevel="Trace" writeTo="APILog" />
    <logger name="Web.*" minlevel="Trace" writeTo="SystemLog" />
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="SQLLog" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <!-- 將來自於 Microsoft. assembly 的 Info 以下 (Info,Debug,Trace) log 都排除 (沒有 writeTo 就不會輸出 )-->
    <logger name="Microsoft.*" maxlevel="Info" writeTo="blackhole" final="true" />

  </rules>
</nlog>

